{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Report</span></h1>
            </div>
            {{ report }}
            <br>
            <a href="/">Back</a>
        </div>
    </div>
{% endblock %}